{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Buildings{% endblock %}</h1>
{% endblock %}
{% block content %}
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address Locality</th>
        <th>Address Region</th>
        <th>Street Address</th>
        <th>Location</th>
        <th>Category</th>
        <th></th>
        <th></th>
    </tr>

    {% for building in buildings%}
        <tr>
            {% set id = building.id.split(':') %}
            {% set building_url = "/Building/" + id[3] %}
            {% set name = building.name.value %}
            {% set addressLocality = building.address.value.addressLocality %}
            {% set addressRegion = building.address.value.addressRegion %}
            {% set streetAddress = building.address.value.streetAddress %}
            {% set location = building.location.value.coordinates %}
            {% set category = building.category.value %}
        <form method = "post" action="{{url_for('update_building', building_id = id[3])}}">
            <td><a href="{{building_url}}">{{id[3]}}</a></td>
            <td>
                <input name="name" value = "{{name}}">
            </td>
            <td>
                <input name="addressLocality" value = "{{addressLocality}}">
            </td>
            <td>
                <input name="addressRegion" value = "{{addressRegion}}">
            </td>
            <td>
                <input name="streetAddress" value = "{{streetAddress}}">
            </td>
            <td>
                <input name="coordinate" value = "{{location}}">
            </td>
            <td>
                <input name="category" value = "{{category}}">
            </td>
            <td>
                <button type="sumbit">Update</button>
            </td>
        </form>
        <form method="post" action="{{url_for('delete_building',building_id = id[3])}}">
            <td>
                    <button type = "submit">Delete</button>
            </td>
        </form>
        </tr>

    {% endfor %}
</table>

 <hr/>
 <footer>
     <p>&copy; 2023 </p>
 </footer>
{% endblock %}